

.container-fluid{
  margin: 0px !important;
}
body{
    font-family: 'Helvetica Neue', sans-serif !important;
}
html{
  font-family: 'Helvetica Neue', sans-serif !important;
}
.PracticeName{
  margin-top: 1% !important;
}
.requestAppointments{
     background:#ffcb3b !important;
     border: none;
    /*margin-left: 10px !important;*/
   width: 310px !important;
    color: black !important;
    border-radius: 50px !important;
     font-family: "Helvetica Neue LT W05 75 Bold", sans-serif !important; 
     margin-right: -3% !important;
    font-size: 18px;
    float: right !important;
    font-weight: 700 !important;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px !important;
    /* border: none;
    background-color: var(--sky-bush) !important;
    float: right !important;
   
     width: 310px;
    color: var(--white) !important;
    justify-content: end;
    align-items: flex-end !important;
    float: inline-end !important;
     position: relative;
     margin-right: -3% !important;
    font-size: 1.1rem !important;
    border-radius: 25px !important; 
    margin-bottom: 30px !important;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px !important; */
  }
  @media only screen and (max-width: 600px) {
    .requestAppointments {
   margin-bottom: 10px !important;
    }
  }
  .requestAppointments:hover{
    background-color: var(--yellow-bush-hover) !important;
    /* box-shadow:  1px 1px 2px 0 rgba(255,255,255,.5),
                -2px -2px 4px 0 rgba(116, 125, 136, .5), 
      inset -2px -2px 4px 0 rgba(255,255,255,.2),
      inset 2px 2px 4px 0 rgba(0, 0, 0, .4); */

  }

.pagination > li > a
{
    background-color: none;
    float: left !important;
    border: 0 !important;
    
    border-radius: 50px !important;
    gap: 40px !important;
}

.pagination{
  float: right !important;
  margin-right: 20px !important;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{ 
    color: var(--white) !important;
}
@media only screen and (max-width: 600px) {
  .page-item .page-link {
width: 45px !important;
padding: 10px !important;
 
  }
}
.pagination > .active > a
{
    color: var(--white) !important;
    background-color: var(--fire-bush) !important;
    border: solid 1px var(--fire-bush) !important;
}

.pagination > .active > a:hover
{
    background-color: var(--fire-bush) !important;
    border: solid 1px var(--fire-bush);
}
 
  .page-item .page-link {
    float: left !important;
    color: var(--font-black) !important; 

  }
 #srchitem{
    float: right !important;
 }
 
 .table{
  border-collapse: collapse !important;
  
 }

.data-table {
  margin-bottom: 1% !important;
  margin-top: 5px;
  border: 1px solid var(--granite-gray) !important;
  border-radius: 8px;

 }
td {
  font-size:1rem;
  font-weight: 400 !important;
  color: var(--font-black);
  text-align: left;
  padding: 0.7rem !important;
}

.table{
  border-collapse:collapse;
  border-radius: 8px !important;
  overflow: hidden !important;
}
.table th {
  /* background-image: var(--header-img-color); */
  background-color: var(--header-color) !important;
  padding: 0.7rem !important;
  text-align: left !important;
  font-size: 1.2rem !important;
  /* border-top: 0.9px solid var(--fire-bush) !important; */
  font-family: 'Helvetica Neue', sans-serif !important;
  font-weight: 500 !important;
  border-bottom: solid 0.5px rgba(0 0 0 / 70%)  !important;
  /* border-top: 1px solid var(--granite-gray) !important; */
}

td:nth-child(2){
  border-right:1px solid var(--white);
}
td:nth-child(3){
  border-right:1px solid var(--white);
}
td:nth-child(1){
  border-right:1px solid var(--white);
}
th:nth-child(2){
  border-right:1px solid var(--header-color);
}
th:nth-child(3){
  border-right:1px solid var(--header-color);
}
th:nth-child(1){
  border-right:1px solid var(--header-color);
}
 
  
 

 
 
 .btyt {
  float: right;

  width: 5%;
  padding: 4px 9px;
 }
 #Exportbtn{
  color:var(--white) !important;
  float: Left !important;
  background-color: var(--sky-bush);
  padding: 4px 15px;
 }


.searchOrder {


position: absolute !important;
background-image: var(--header-img-color) !important;
  background-color: var(--header-color) !important;
margin-left: 10px !important;
margin-top: 10px;
float: right !important;
color: #7B7B7B !important;
}
.search-label span{
    display: none !important;
}


#GetUserbtn a{
color: var(--font-black);
text-decoration: none;
}

#GetUserbtn1 a{
color:var(--white);
text-decoration: none;
padding-left: 10px;
font-size: 16px;
}
.react-bootstrap-table table { table-layout: auto !important; }

 
input {
background-image: var(--header-img-color);
  background-color: var(--header-color);

border: 1px solid var(--sky-bush) !important;
}

::placeholder{
padding: 8px;
}
#hrline{
  left: -15px;
    width: calc(100% + 22px) !important;
    margin-left: -12px !important;
}
#clearButton {
position: absolute;
float: right;

height: 25px;
width: 25px;
margin-top: 7px !important;
right: 5%;
border-radius: 20px;
background: #d8d4d4;
color: var(--white);
font-weight: bold;
text-align: center;
cursor: pointer;
}
#clearButton:hover {
background: rgb(183, 177, 177);
}
#imgs{
margin-top: -8px !important;
margin-right: -10px !important;
}
@media only screen and (max-width: 600px) {
#clearButton{
margin-right: 15% !important;

}
}

/*Request Appointment -----------------------------------------------------------------------------*/



/* .Full_Modal{
  margin-top: 70px!important;
  
 
}

.modal-backdrop.show {
  opacity: 0 !important;
} */
.appointmentmodal {
  
  overflow: scroll;
  width: 580px !important;
  max-width: calc(100% - 20px) !important;
  /* box-shadow: rgba(9, 30, 66, 0.25) 0px 2px 4px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; */
  border: 1px solid #ddd;
  border-radius: 8px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  /* margin-bottom: 200px !important; */
}
.appointmentmodal h4{
  background-image: var(--header-img-color);
  background-color: var(--header-color);
  background-size: 100% !important;
  padding: 0.9rem !important;
  text-align: center !important;
  font-size: 1.5rem !important;
 border-bottom: 1px solid #ddd;
  width: 600px !important;
  max-width: calc(120%) !important;
  margin-left: -25px !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  /* border-top: 0.9px solid var(--fire-bush) !important; */
  font-family: 'Helvetica Neue', sans-serif !important;
  font-weight: 500 !important;
  
}
#CheckboxOverride{
  display: flex !important;
  flex-wrap: wrap !important;
}
.react-datepicker__input-container input {
  border: 1px solid;
  font-size: 0.90rem;
  border-radius: 5px !important;
  width: 280px;
  margin-left: 6px !important;
  padding: 5px !important;
}
.react-datepicker__header {
  text-align: center !important;
  background-color: var(--header-color) !important;
  border-bottom: 1px solid var(--sky-bush) !important;
  border-top-left-radius: 0.3rem;
  padding: 8px 0;
  position: relative;
}
.react-datepicker-popper[data-placement=bottom-end] .react-datepicker__triangle, .react-datepicker-popper[data-placement=top-end] .react-datepicker__triangle {
 
}

.react-datepicker__triangle{
  margin-right: -150px !important;
 
}
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle {
  top: 0;
  margin-top: -8px !important;
  margin-left: -20px !important;
}


.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
  border-radius: 0.3rem;
  background-color: var(--sky-bush) !important;
  color: #fff;
}
.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected {
  border-radius: 0.3rem;
  background-color: var(--sky-bush) !important;
  color: #fff;
}
.react-datepicker {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 0.8rem;
  background-color: white;
  color: #000;
  border: 1px solid var(--sky-bush) !important;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
}
.react-datepicker__input-container input:focus{
  border: 1px solid var(--sky-bush)  !important;
}
.react-datepicker-ignore-onclickoutside:focus{
  border: 1px solid var(--sky-bush) !important ;
}

.checkboxes input{
  margin: 0px 0px 0px 0px;
}

.checkboxes label{
  margin: 0px 20px 0px 3px  !important;
}
.form-check-label{
  margin: 0px 10px 0px 3px  !important;
  /* margin: 0px 39px 0px 3px  !important; */
}
.form-check-input{
  margin: 3px 2px 0px 3px  !important;
  /* margin: 0px 39px 0px 3px  !important; */
}
.form-select{
  padding: 5px !important;
}

option:hover {
  background-color: yellow !important;
}

.btn-send{
   margin-left: 8%;
   background-color: var(--sky-bush) !important;
   /* border: 2px solid var(--white) !important; */
   color: var(--white) !important;
   box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px !important;
  
}
.btn-send:hover{
 background-color: var(--sky-bush-hover) !important;
}
.btn-cancel{
  float: right;

background-color: #e4e3e3 !important;
}
.btn-cancel:hover{
  

background-color: #cbc9c9 !important;
}

#style1::-webkit-scrollbar {
  width: 8px !important;
}

#style1::-webkit-scrollbar-track {
  background-color: #e2e2e2;
  border-radius: 100px;
}

#style1::-webkit-scrollbar-thumb {
  background-color: #979797!important;
  border-radius: 100px;
}
#style1{
  overflow-y: scroll !important;
}
.patientHead h4{
  font-weight: 500;
  color: var(--fire-bush) !important;
}
@media only screen and (max-width: 600px) {

  .data-table{
    overflow-x: scroll !important;
  }
  .data-table::-webkit-scrollbar {
    width: 8px !important;
  }
  .data-table::-webkit-scrollbar-track {
    background-color: #e2e2e2;
    border-radius: 100px;
  }
  
  .data-table::-webkit-scrollbar-thumb {
    background-color: #979797!important;
    border-radius: 100px;
  }
}
.ReferLabel label{
  margin-top: 10px !important;
}