.Header{
    background-color: #6e1da2 !important;
   
}
.Header h2{
    font-style:italic !important;

	color: #fff;
	font-weight: 700;
	font-family: var(--font-family) !important  ; 

	

}
.Dropdown{
    float: right !important;
  
    color: #fff !important;
}
#dropdown-basic{
    background-color: transparent !important;
    border: none !important;
    font-size: 1.3rem !important;
}
.Logout-btn a{
    text-decoration: none !important;
}
.dropdown-menu[data-bs-popper] {
    top: 100% !important;
    right: 0 !important;
    left: auto !important;
    
}