.nav-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    border: 0 !important;
    border: none !important;
    font-size: 17px !important;
   
  }
  .nav-tabs .nav-link{
    border: 0 !important;
    border: none !important;
    color: var(--granite-gray) !important;
    display: flex;
 


     
   
  }
  .nav-tabs .nav-link a:hover{
    color: var(--font-black) !important;
  }
 
  .nav-tabs .nav-item.show .nav-link:hover, .nav-tabs .nav-link:focus{
     
   
    color: var(--fire-bush) !important;
    }
    .tabSpan{
      padding: .3rem;
        margin-top: 5px;
        
        font-weight: 700;
    }
    
    .defaultActiveKey{
        color: var(--fire-bush) !important;
      
    }
 
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        border: 0 !important;
        color: var(--fire-bush) !important;
        }
        .nav.nav-tabs .nav-link.active{
            /* color: var(--fire-bush) !important;
             */
             border-bottom: 2px solid var(--fire-bush) !important;
             color: var(--fire-bush) !important;
            font-size: 1.3rem !important;
            font-weight: 700;
        }
        .nav.nav-tabs .nav-link :hover{
      
          color: var(--fire-bush) !important;
        }

    .profileUpdate{
      text-align: center !important;
      margin-top: 5%;
    }
    .data-table1 {
      margin-bottom: 1% !important;
      margin-top: 5px;
      border-top: 2px solid var(--granite-gray) !important;
      border-bottom: 1px solid var(--granite-gray) !important;
      border-left: 1px solid var(--granite-gray);
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      /* border-top-right-radius: 8px; */
      height: 600px;
     
     
     }
    .data-table2 {
      margin-bottom: 2% !important;
      margin-top: 5px;
      border-top: 2px solid var(--granite-gray) !important;
      border-bottom: 1px solid var(--granite-gray) !important;
      border-right: 1px solid var(--granite-gray);
      /* border-left: 1px solid var(--granite-gray); */
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      height: 600px;
 
     }
     .header h6 {
      font-family: var(--font-family) !important; 
      font-weight: 400;
      font-size: 1rem;
      margin-top: 1rem !important;
    }
    .profileUpdate h4{
      font-weight: 700;
      font-size: 1.5rem;
    }
    .profileUpdate p{
      font-weight: 400 !important;
      font-size: 0.9rem !important;
    }
    .contact p{
      font-weight: 700;
      font-size: 1rem !important;
    }
    .email p{
      font-size: 1rem !important;
      font-family: var(--font-family) !important; 
    }
    .email p a{
      text-decoration: none;
      font-size: 1rem !important;
      font-family: var(--font-family) !important; 
    }
    .email p a:hover{
      text-decoration: underline;
    }
  .header1{
    text-align: center !important;
  }
  .profileUpdate1{
    text-align: center !important;
    margin-top: 5%;
  }
  .update_button {
    border: none;
    background-color: var(--sky-bush) !important;
   width: 250px;
    padding: 7px 25px !important;
    color: var(--white) !important;
    justify-content: end;
    align-items: flex-end !important;
    float: inline-end !important;
     position: relative;
     box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px !important;
    font-size: 1rem !important;
    border-radius: 25px !important; 
    margin-bottom: 30px !important;

  }
  .update_button:hover{
    background-color: var(--sky-bush-hover) !important;
  }
  .sectionHome{

    margin-top: 2% !important;
    
  }   .data-table3 {
    margin-bottom: 2% !important;
    margin-top: 5px;
    border-top: 2px solid var(--granite-gray) !important;
    border-bottom: 1px solid var(--granite-gray) !important;
    border-right: 1px solid var(--granite-gray);
    border-left: 1px solid var(--granite-gray);
    border-radius: 8px;
    width: 360px !important;
    height: 600px;
 
    margin-left: 15px !important;
    border-collapse: collapse !important;
   }
   .practice-activity {
    background-image: var(--header-img-color);
    background-color: var(--header-color);
    background-size: 100% !important;
    padding: 0.9rem !important;
    text-align: center !important;
    font-size: 1.1rem !important;
    width: 358px !important;
    margin-left: -12px !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    /* border-top: 0.9px solid #6e1da2 !important; */
    font-family: var(--font-family) !important;
    font-weight: 600 !important;
    border-bottom: 1px solid var(--granite-gray) !important;
   }
   .Sectionbutton{
    border: none;
    background-color: var(--sky-bush) !important;
    width: 220px;
    padding: 7px 25px !important;
    color: var(--white) !important;
    justify-content: end;
    align-items: flex-end !important;
    float: inline-end !important;
     position: relative;
     margin: 15px !important;
     margin-top: 28px !important;
    font-size: 1rem !important;
    border-radius: 25px !important; 
    margin-bottom: 30px !important;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px !important;
   }
   .Sectionbutton:hover{
    background-color: var(--sky-bush-hover) !important;
   }
   .Section2Head {
    text-align: center !important;
   }
   .Section2Head h5{
    font-size: 1rem !important;
    margin-top: 10% !important;
   }
   .Section2Head p{
    font-family: var(--font-family) !important; 
    font-size: 0.8rem !important;
    margin-top: 16px !important;
    margin-bottom: 8px !important;
   }
   .Section2Image img{
    background-color: var(--white) !important;
    color: var(--white) !important;
   }
   #span{
    margin-top: 54px !important;
   }
   .header2 span{
    font-size: 1rem !important;
    cursor: pointer;
    font-weight: 700;
  
   }
   .header2 span:hover{
    color: var(--sky-bush) !important;
   }
   .header2 h6 {
    font-weight: 700 !important;
   }


   
  ::-webkit-scrollbar {
    width: 0px !important;
   
  }
  .card{

    margin-bottom: 12px !important;
    text-align: left !important;
    /* background-color: var(--header-color); */
}
.card a {
  margin-left: 15px !important;
  margin-top: 5px !important;
 
  font-weight: 600;
  font-size: 1rem !important
}
.card p{
 margin-left: 15px !important;
 font-size: 1rem;
 margin-bottom: 5px !important;
}