:root {
    --surface-color: #fff;
    --ghost-white: #f8f9fd;
    --fire-bush: #6e1da2;
    --granite-gray: #626a6a;
    --baltic-sea: #33383c;
    --trans: all 0.5s ease-in-out;
    --curve: 40;
    --theme-box-shadow-light:#0000001c;
        --theme-box-shadow-medium: #00000021;
        font-family: 'Helvetica Neue', sans-serif !important;
  }
body{
    /* background-color:#f5f1fc !important; */
  
}
.login-body{

    background-color: #e6effa;
}
.container{
    font-family: 'Helvetica Neue', sans-serif !important;

}
.input[type=checkbox] {
    accent-color: red !important;
  }
.login-left-column{
    background-color:var(--fire-bush) ;
    background-repeat: no-repeat !important;
    background-position: 100% 115% !important;
    background-size: contain !important;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.login-left-column h1{
    font-style:italic !important;
    margin: 1em 0 0.5em 0;
	color: #fff;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
    text-shadow: 1px 1px 1px #957dad,
    1px 1px 1px #957dad,
    1px 2px 1px #957dad,
    1px 2px 1px #957dad,
    1px 2px 1px #957dad,
    1px 2px 1px #957dad,
    1px 3px 5px rgba(16, 16, 16, 0.5),
    1px 5px 10px rgba(16, 16, 16, 0.4),
    1px 10px 30px rgba(16, 16, 16, 0.3),
    1px 15px 50px rgba(16, 16, 16, 0.2);
}
.Login_auth_container{
    display: flex;
	align-items: center;
	justify-content: center;
	min-height: 90vh;
   
}
.Login-Page{  
    background-color:  white !important; 
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

}
.login-form{
    padding: 2rem;
}
.button__text{
    background:var(--fire-bush) !important;
    background: linear-gradient(0deg, #6e1da2 0%, #6e1da2 100%);
    border: none;
    /*margin-left: 10px !important;*/
    float: right !important;
  
    color: white !important;
    justify-content: end;
    align-items: flex-end !important;
    float: inline-end !important;
     /*font-family: "Helvetica Neue LT W05 75 Bold", sans-serif !important;*/ 
     position: relative;
    font-size: 17px;
    
  }
 
.button__text:hover{
    box-shadow:  1px 1px 2px 0 rgba(255,255,255,.5),
                -2px -2px 4px 0 rgba(116, 125, 136, .5), 
      inset -2px -2px 4px 0 rgba(255,255,255,.2),
      inset 2px 2px 4px 0 rgba(0, 0, 0, .4);
}
.signup{
    text-align: center !important;
    justify-content: center;
}
.signup a{
    text-decoration: none;
            font-family: 'Helvetica Neue', sans-serif !important;
}
.Remember{
    width: 25px !important;
    height: 17px !important;
}
.form-control{
    outline: none !important;
}