
.insurance-content {

}

.carddesign{
    height: 45vh !important;
    background-color: var(--header-color) !important;
}
.carddesign:hover{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 2px 4px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.insurance-content p{
    padding-left: 15px !important;
}
.insurance-content h4{
    font-weight: 700 !important;
    color: var(--fire-bush);
    font-size: 1.6rem !important;
    padding-left: 25px !important;
    padding-top: 30px !important;
}
#spantext{
    font-size: 1.1rem !important;
    color: black !important;
}
.insurance-content span{
    font-weight: 700 !important;
    padding: 5px !important;
}
.change{
    text-align: center !important;
    justify-content: center !important;
    width: 450px !important;
    font-size: 1.2rem !important;
    background-color: var(--yellow-bush) !important;
    color: black !important;
    margin-top: 1%;
    font-weight: 700 !important;
    border-radius: 25px !important;
}
.recharts-tooltip-wrapper{
    font-weight: 700;
    font-size: 1rem;
    font-family: var(--font-family) !important; 
    background-color: #FCFEFC;
    stroke: none;
    box-shadow: rgba(110, 29, 162, 0.1) 0px 6px 1px, rgba(0,0,0,0.16) 0px 6px 2px, rgba(132, 86, 225, 0.23) 0px 8px 4px, rgba(0, 0, 0, 0.02) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
     padding: 9px 21px;
  }
  .recharts-cartesian-axis-tick {    
    font-size: 1rem;
    font-family: var(--font-family) !important; 
}